<h1>{{title}}</h1>

<button mat-button (click)="goToHomePage($event)">Home</button>
<button mat-button (click)="goToNewMortgage($event)">Create New Mortgage</button>

<table mat-table [dataSource]="mortgageList" multiTemplateDataRows class="table.center mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

           <form class="example-form">
           
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="employerName" [(ngModel)]="element.employerName" name="employersName">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Years in Employments"  [(ngModel)]="element.yearsInEmployment" name="yearsInEmployment">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Salary"  [(ngModel)]="element.salary" name="salary">
              </mat-form-field></td>
            </tr></table>
          
            
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Loan Amount" [(ngModel)]="element.loanAmount" name="loanAmount">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Term (Years)" [(ngModel)]="element.term" name="term">
              </mat-form-field></td>
            </tr></table>
            <a href="" class="button" mat-button (click)="updateMortgage($event, element)">Save</a>
          </form>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>